:root{
  --controls-background: #438957;
  --board-background: #196d31;

  --card-height: 3em;
  --card-width: 2em;
}
body{height: 100vh;}
.container{
  height: 95vh;
  width: 100vw;
}

/* Controls */
.controls{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5vh;

  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--controls-background);
  color: white;
}

/* Board */
.board{
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: var(--board-background);
}
.popup{
  z-index: 100;
  visibility: hidden;
  background-color: darkred;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  height: 20vh;
  width: 25vw;
  font-family: 'Roboto', Arial, sans-serif;

  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.popup a{
  color: white;
}
.overlay{
  z-index: 50;
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .75;
}


.card{
  position: absolute;
  height: var(--card-height);
  width: var(--card-width);
  z-index: 0;
  transform: rotateY(180deg);


  display: flex;
  align-items: center;
  justify-content: center;

  background-color: darkred;
  border: 4px solid white;
  border-radius: 8px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 50px;

  transition: all 1s;
}

.card span{
  transition: all 3s;
  height: 100%;
  width: 70%;
  background-size: contain;
  background-position: center;
}
.card span.hidden{
  opacity: 0;
  transition: all .75s;
}
.card.flipped{
  transform: rotateY(0deg);
  background-color: rgb(172, 172, 172);
  border: 4px solid white;
}
